/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../html/assets/bgregistrasi.jpg) ;

}

/* Container */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-box {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

/* Heading */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Textbox input */
.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: #FF0099;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FF0099;
}

/* Link */
p a {
    color: #FF0099;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
